[Unit]
Description=TrillionniumOS D1 deterministic acceptance target
Requires=basic.target sysinit.target dbus.service systemd-logind.service systemd-udevd.service
Wants=trillionnium-d1-wayland.service trillionnium-d1-acceptance.service
After=basic.target sysinit.target dbus.service systemd-logind.service systemd-udevd.service
AllowIsolate=yes
